* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 16px;
  color: var(--white);
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: flex;
}

a, button {
  cursor: pointer;
  transition: var(--transition);
}

video {
  display: block;
  width: 100%;
}