.s-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s 0.3s linear;
}

.s-modal--active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
}

.s-modal__container {
  position: relative;
  width: 90%;
  max-width: 900px;
  aspect-ratio: 16/9;
  background-color: var(--black);
  border-radius: var(--border-radius);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  transform: scale(0.9);
  transition: transform 0.3s ease;
}

.s-modal--active .s-modal__container {
  transform: scale(1);
}

.s-modal__container iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: var(--border-radius);
}

.s-modal__close-button {
  position: absolute;
  top: -20px;
  right: -20px;
}

.s-modal__close-button button {
  background-color: var(--primary-color);
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, background-color 0.2s, color 0.2s;
}

.s-modal__close-button button:hover {
  transform: scale(1.1);
  background-color: var(--white);
  color: var(--primary-color);
}