.navigator {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.navigator::before {
  content: '';
  position: absolute;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: var(--white);
  opacity: 0.3;
  z-index: 0;
}

.navigator__icon {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.navigator__icon img {
  width: 50px;
  transition: var(--transition);
}

.navigator__icon a:hover img {
  transform: scale(1.1);
}

.navigator ul {
  z-index: 1;
  position: relative;
}

.navigator ul li {
  margin: 50px 0;
}

.navigator ul li a {
  color: var(--white);
  border: solid 2px var(--white);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.navigator ul li a:hover,
.navigator ul li a.active {
  color: var(--primary-color);
  background-color: var(--white);
  transform: scale(1.1);
}