.pills ul {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.pills ul li {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 5px 15px;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
}